<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>MWANGEJI </b>HGR</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Se connecter</p>
      <form action="../../index3.html" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <p class="mb-1">
          <a href="forgot-password.html">Mot de passe oublie</a>
        </p>
        <div class="row">
          <!-- /.col -->
          <div class="col-6">
          </div> <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">SE CONNECTER</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
